// GRID

$cols = 24
$col = 30px
$gutter = 24px
.container
  margin:0 auto
  width: ($col * $cols)+($gutter * $cols)
.row:before, .row:after
  content:" "
  display:table
.row:after
  clear: both
.col
  float: left
  margin-left: ($gutter/2)
  margin-right: ($gutter/2)
.col1
  width: (1*$col)+(0*$gutter)
.col2
  width: (2*$col)+(1*$gutter)
.col3
  width: (3*$col)+(2*$gutter)
.col4
  width: (4*$col)+(3*$gutter)
.col5
  width: (5*$col)+(4*$gutter)
.col6
  width: (6*$col)+(5*$gutter)
.col7
  width: (7*$col)+(6*$gutter)
.col8
  width: (8*$col)+(7*$gutter)
.col9
  width: (9*$col)+(8*$gutter)
.col10
  width: (10*$col)+(9*$gutter)
.col11
  width: (11*$col)+(10*$gutter)
.col12
  width: (12*$col)+(11*$gutter)
.col13
  width: (13*$col)+(12*$gutter)
.col14
  width: (14*$col)+(13*$gutter)
.col15
  width: (15*$col)+(14*$gutter)
.col16
  width: (16*$col)+(15*$gutter)
.col17
  width: (17*$col)+(16*$gutter)
.col18
  width: (18*$col)+(17*$gutter)
.col19
  width: (19*$col)+(18*$gutter)
.col20
  width: (20*$col)+(19*$gutter)
.col21
  width: (21*$col)+(20*$gutter)
.col22
  width: (22*$col)+(21*$gutter)
.col23
  width: (23*$col)+(22*$gutter)
.col24
  width: (24*$col)+(23*$gutter)


// VARIABLES

$margin-tiny = ($gutter/2)
$margin-small = $gutter
$margin-basic = ($gutter*3)
$margin-large = ($gutter*5)

$font-size-basic = 15px
$font-leading-basic = 1.4em
$font-tracking-basic = 0.005em

$font-tracking-headings = 0.01em

$gray = rgb(210,210,210)
$red = red
$blue = rgb(84,144,235)
$blueRGB = 84,144,235

// TYPOGRAPHY

html, body
  font-family:helvetica,arial,sans-serif
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic

h1
  font-size: 3em

h2
  font-size: 2em

h3
  font-size: 1.5em

h1,h2,h3,h4,h5,h6
  font-weight: bold
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-headings

.font-white
  color: white
  -webkit-font-smoothing: antialiased

.font-bold, strong, bold
  font-weight: bold

.font-italic, em, i
  font-style: italic

.font-smaller
  font-size: 0.8em

.font-mono
  font-family: monospace

.font-serif
	font-family: Georgia, serif

.font-readable
  font-size: 1.35em
  line-height: $font-leading-basic
  li
    list-style-position: inside
    list-style-type: disc
    padding-bottom: 0.5em

.font-uppercase
  text-transform: uppercase

// LINKS

a,a:active,a:visited
  color:inherit
  text-decoration: none

// BASIC

img
  max-width: 100%
  height: auto

.underline
  border-bottom: 3px solid black

.underline-white
  border-color: white

.padded-header
  margin-bottom: 0.5em
  padding-bottom: 0.25em

.divider
  margin-top: $margin-small
  margin-bottom: $margin-small

.background-black
  background-color: black

.background-gray
  background-color: $gray

.background-red
  background-color: $red

.background-blue
  background-color: $blue

// LIVE NOW

#livenow
	background-color: $red
	color: white
	letter-spacing: 3px
	-webkit-font-smoothing: antialiased
	font-weight: bold
	font-size: 17px
	text-align: center
	padding-top: 0px
	padding-bottom: 0px
	transition: all 1s
	height: 0
	overflow: hidden
  &:hover
	  background-color: black


// HEADER

#header
  background-size: cover
  padding: $margin-tiny 0

#header-drawer-toggle
  padding-top: 5px

#header-top-menu
  font-size: 1.1em
  margin-left: 0.5em

.drawer
  padding: $margin-small 0
  display: none


// MAIN

#main-content
  margin-top: $margin-basic

.pagination-button
  display: inline-block
  padding: 0.2em 0.4em
  border: 1px solid black
  &:hover
    color: white
    background-color: black


// FOOTER

#footer
  padding: $margin-small 0
  margin-top: $margin-large
  li
    padding-right: 0.5em


// MEDIA QUERIES
@media screen and (max-width: ($col * $cols)+($gutter * $cols))

  $col = 32px
  $gutter = 16px
  .container
    margin:0 auto
    width: ($col * $cols)+($gutter * $cols)
  .row:before, .row:after
    content:" "
    display:table
  .row:after
    clear: both
  .col
    float: left
    margin-left: ($gutter/2)
    margin-right: ($gutter/2)
  .col1
    width: (1*$col)+(0*$gutter)
  .col2
    width: (2*$col)+(1*$gutter)
  .col3
    width: (3*$col)+(2*$gutter)
  .col4
    width: (4*$col)+(3*$gutter)
  .col5
    width: (5*$col)+(4*$gutter)
  .col6
    width: (6*$col)+(5*$gutter)
  .col7
    width: (7*$col)+(6*$gutter)
  .col8
    width: (8*$col)+(7*$gutter)
  .col9
    width: (9*$col)+(8*$gutter)
  .col10
    width: (10*$col)+(9*$gutter)
  .col11
    width: (11*$col)+(10*$gutter)
  .col12
    width: (12*$col)+(11*$gutter)
  .col13
    width: (13*$col)+(12*$gutter)
  .col14
    width: (14*$col)+(13*$gutter)
  .col15
    width: (15*$col)+(14*$gutter)
  .col16
    width: (16*$col)+(15*$gutter)
  .col17
    width: (17*$col)+(16*$gutter)
  .col18
    width: (18*$col)+(17*$gutter)
  .col19
    width: (19*$col)+(18*$gutter)
  .col20
    width: (20*$col)+(19*$gutter)
  .col21
    width: (21*$col)+(20*$gutter)
  .col22
    width: (22*$col)+(21*$gutter)
  .col23
    width: (23*$col)+(22*$gutter)
  .col24
    width: (24*$col)+(23*$gutter)

  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  .divider
    margin-top: $margin-small
    margin-bottom: $margin-small

  #header
    background-size: cover
    padding: $margin-tiny 0

  .drawer
    padding: $margin-small 0

  #main-content
    margin-top: $margin-basic

  #footer
    padding: $margin-small 0
    margin-top: $margin-large

@media screen and (max-width: 1152px)

  html, body
    font-size: 13px

  $col = 26px
  $gutter = 12px
  .container
    margin:0 auto
    width: ($col * $cols)+($gutter * $cols)
  .row:before, .row:after
    content:" "
    display:table
  .row:after
    clear: both
  .col
    float: left
    margin-left: ($gutter/2)
    margin-right: ($gutter/2)
  .col1
    width: (1*$col)+(0*$gutter)
  .col2
    width: (2*$col)+(1*$gutter)
  .col3
    width: (3*$col)+(2*$gutter)
  .col4
    width: (4*$col)+(3*$gutter)
  .col5
    width: (5*$col)+(4*$gutter)
  .col6
    width: (6*$col)+(5*$gutter)
  .col7
    width: (7*$col)+(6*$gutter)
  .col8
    width: (8*$col)+(7*$gutter)
  .col9
    width: (9*$col)+(8*$gutter)
  .col10
    width: (10*$col)+(9*$gutter)
  .col11
    width: (11*$col)+(10*$gutter)
  .col12
    width: (12*$col)+(11*$gutter)
  .col13
    width: (13*$col)+(12*$gutter)
  .col14
    width: (14*$col)+(13*$gutter)
  .col15
    width: (15*$col)+(14*$gutter)
  .col16
    width: (16*$col)+(15*$gutter)
  .col17
    width: (17*$col)+(16*$gutter)
  .col18
    width: (18*$col)+(17*$gutter)
  .col19
    width: (19*$col)+(18*$gutter)
  .col20
    width: (20*$col)+(19*$gutter)
  .col21
    width: (21*$col)+(20*$gutter)
  .col22
    width: (22*$col)+(21*$gutter)
  .col23
    width: (23*$col)+(22*$gutter)
  .col24
    width: (24*$col)+(23*$gutter)

  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  .divider
    margin-top: $margin-small
    margin-bottom: $margin-small

  #header
    background-size: cover
    padding: $margin-tiny 0

  .drawer
    padding: $margin-small 0

  #main-content
    margin-top: $margin-basic

  #footer
    padding: $margin-small 0
    margin-top: $margin-large

@media screen and (max-width: 912px)

  $col = 21px
  $gutter = 8px
  .container
    margin:0 auto
    width: ($col * $cols)+($gutter * $cols)
  .row:before, .row:after
    content:" "
    display:table
  .row:after
    clear: both
  .col
    float: left
    margin-left: ($gutter/2)
    margin-right: ($gutter/2)
  .col1
    width: (1*$col)+(0*$gutter)
  .col2
    width: (2*$col)+(1*$gutter)
  .col3
    width: (3*$col)+(2*$gutter)
  .col4
    width: (4*$col)+(3*$gutter)
  .col5
    width: (5*$col)+(4*$gutter)
  .col6
    width: (6*$col)+(5*$gutter)
  .col7
    width: (7*$col)+(6*$gutter)
  .col8
    width: (8*$col)+(7*$gutter)
  .col9
    width: (9*$col)+(8*$gutter)
  .col10
    width: (10*$col)+(9*$gutter)
  .col11
    width: (11*$col)+(10*$gutter)
  .col12
    width: (12*$col)+(11*$gutter)
  .col13
    width: (13*$col)+(12*$gutter)
  .col14
    width: (14*$col)+(13*$gutter)
  .col15
    width: (15*$col)+(14*$gutter)
  .col16
    width: (16*$col)+(15*$gutter)
  .col17
    width: (17*$col)+(16*$gutter)
  .col18
    width: (18*$col)+(17*$gutter)
  .col19
    width: (19*$col)+(18*$gutter)
  .col20
    width: (20*$col)+(19*$gutter)
  .col21
    width: (21*$col)+(20*$gutter)
  .col22
    width: (22*$col)+(21*$gutter)
  .col23
    width: (23*$col)+(22*$gutter)
  .col24
    width: (24*$col)+(23*$gutter)

  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  .divider
    margin-top: $margin-small
    margin-bottom: $margin-small

  #header
    background-size: cover
    padding: $margin-tiny 0

  .drawer
    padding: $margin-small 0

  #main-content
    margin-top: $margin-basic

  #footer
    padding: $margin-small 0
    margin-top: $margin-large

@media screen and (max-width: 696px)

  $gutter = 8px
  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  .container
    width: 100%
    max-width: 559px
    box-sizing: border-box
    padding-left: ($gutter/2)
    padding-right: ($gutter/2)

  .row
    width: 100%

  .col
    width: 100%
    float: none
    margin-left: 0
    margin-right: 0

  // TYPOGRAPHY

  h1
    font-size: 2.5em

  h2
    font-size: 1.5em

  h3
    font-size: 1.2em

  // HEADER

  #header
    .col12
      width: 50%
      float: left

  #header-top-menu
    margin-left: 0
    padding-top: 3px

  #header-drawer-toggle
    display: none