.ux-carousel__wrapper
  overflow: hidden
  position: relative

.ux-carousel__nav-left, .ux-carousel__nav-right
  position: absolute
  top: 0
  height: 100%
  width: 3rem
  cursor: pointer
  z-index: 10
  transition: opacity $duration-quick-transitions ease-in-out
  &--disabled
    opacity 0
    z-index: -10

.ux-carousel__nav-left
  left: 0

.ux-carousel__nav-right
  right: 0

.ux-carousel__inner
  display: flex
  flex-wrap: nowrap
  transition: transform $duration-quick-transitions ease-in-out

.ux-carousel__item
  flex-shrink: 0
  max-width: 100%
  width: 200px
  margin-left: 1rem
  &:first-child
    margin-left: 0
