.layout-split-level
  display: flex
  align-items: center
  justify-content: space-between

.layout-split-vertical
  display: flex
  flex-direction: column
  justify-content: space-between
  flex: 1
  height: 100%

.layout-thumbnail-frame
  position: relative
  .layout-thumbnail-frame__inner
    position: absolute
    top: 0
    left: 0
