html
  font-family: var(--font-family-sans)
  font-size: 15px

.font-condensed
  font-family: 'acumin-variable', sans-serif !important
  font-variation-settings: "slnt" 0, "wdth" 68, "wght" 721
  font-weight: normal !important

.font-serif
  font-family: var(--font-family-serif)

.font-mono
  font-family: monospace

// REFACTOR TODO
// - [x] Write function to generate font-size classes with final scale
// - [x] Obvious classes for general rules (font-weight-bold, font-italic, etc.)
// - [x] Generate good styles for all responsive sizes
// - [x] Work out find/replace for fs- classes
// - [ ] Remove all old classes one by one with find/replace
//  - [x] .fs-1
//  - [x] .fs-2
//  - [x] .fs-3-sans
//  - [x] .fs-3-serif
//  - [x] .fs-4-sans
//  - [x] .fs-4-serif
//  - [x] .fs-5-sans
//  - [x] .fs-5-sans-headline
//  - [x] .fs-5-sans-condensed
//  - [x] .fs-6
//  - [x] .fs-7
//  - [x] .fs-8
//  - [x] .fs-9
//  - [x] responsive versions

// FONT SIZE GENERATOR

font-size-maker($breakpoint = false, $larger-scale = true)
  // 11 step scale with 2 variations.
  // Smaller scale is for mobile, larger scale is for desktop.
  // This function generates classes for both scales.
  $large-scale = 0.5625 0.75 0.875 1 1.25 1.5 2 2.5 3 3.75 4.5
  $small-scale = 0.57142857 0.71428571 0.85714286 1 1.14285714 1.35714286 1.71428571 2.28571429 2.85714286 3.42857143 4.28571429
  $line-height = 1.2 1.2 1.2 1.2 1.1 1.1 1 1 1 1 1
  $letter-spacing = 0.02813 0.02975 0.01094 0.01 0.025 0.01 0.01 0.01 0.01 0.01 0.01
  $offset-to-root = 7 // this centers the scale on the root size which is 1rem. the helper classes center at .font-size-10

  if $breakpoint
    $prefix = '.font-size-' + $breakpoint + '-'
  else
    $prefix = '.font-size-'

  for i in 0..10
    if $larger-scale
      {$prefix}{i+$offset-to-root}
        font-size: $large-scale[i] * 1rem
        line-height: $line-height[i] * 1em
        letter-spacing: $letter-spacing[i] * 1rem
    else
      {$prefix}{i+$offset-to-root}
        font-size: $small-scale[i] * 1rem
        line-height: $line-height[i] * 1em
        letter-spacing: $letter-spacing[i] * 1rem

font-size-maker()

@media screen and (max-width: $breakpoint-l)
  font-size-maker('l')

@media screen and (max-width: $breakpoint-m)
  font-size-maker('m', false)

@media screen and (max-width: $breakpoint-s)
  font-size-maker('s', false)

// FONT RULES

.font-italic, em, i
  font-style: italic

.font-weight-regular
  font-weight: normal

.font-weight-semibold
  font-weight: 500

.font-weight-bold, strong, b
  font-weight: 700

// TEXT RULES

.text-capitalize
  text-transform: capitalize

.text-uppercase
  text-transform: uppercase

.text-underline
  text-decoration: underline

.text-paragraph-breaks
  p
    margin-bottom: 1em

// HTML ELEMENT STYLING

h5
  font-weight: bold

// NEW TYPE SCALE v4.0.0 2024
// fs = font style
// n = upward scaling step
// (sans, sans-headline, sans-condensed, serif, mono) = font family
// other classes (font-size-n) are for legacy migration

font-size-1()
  font-size: 0.5625rem
  font-style: normal
  font-weight: 700
  line-height: normal
  letter-spacing: 0.02813rem

// to find and fix

.font-small-caps
  font-size: 0.85em

.font-smaller
  font-size: 0.8rem
