.ui-tag
  font-size-1()
  text-transform: uppercase
  background-color: $color-white-soft
  border: 1px solid $color-gray-light
  border-radius: 0.1875rem
  padding: 0.21875rem (0.21875rem * 1.75)
  &--no-border
    border-color: $color-white-soft
  &:before
    content: ''
    background-color: $color-black-soft
    border-radius: 1rem
    width .4rem
    height: .4rem
    display: inline-block
    margin-right: .25rem

.ui-dot
  display: inline-block
  width: .4rem
  height: .4rem
  border-radius: 1rem
  background-color: $color-black-soft
  margin-right: .25rem
  &--red
    background-color: $color-red

.ui-border-bottom
  border-bottom: 1px solid $color-gray-light
