.ui-tag
  font-size-1()
  text-transform: uppercase
  background-color: $color-white-soft
  color: $color-black-soft
  border: 1px solid $color-gray-light
  border-radius: 0.1875rem
  padding: 0.21875rem (0.21875rem * 1.75)
  &:before
    content: ''
    background-color: $color-black-soft
    border-radius: 1rem
    width .4rem
    height: .4rem
    display: inline-block
    margin-right: .25rem
  &--no-border
    border-color: $color-white-soft
  &--no-fill--white
    background-color: transparent
    color: $color-white-soft
    border-color: $color-white-soft
    &:before
      background-color: $color-white-soft

.ui-av-tag
  font-size-1()
  background-color: $color-white-soft
  border-radius: 50%
  display: inline-block
  vertical-align: middle
  width: 1.2rem
  height: 1.2rem
  text-align: center
  padding: 0.21875rem
  &&--video
    svg
      height: .8em
      width: .8em
      margin-left: .25em
  &&--audio
    svg
      height: 1em
      width: 1em
      margin-top: .1em

.ui-dot
  display: inline-block
  width: 1ex
  height: 1ex
  border-radius: 10ex
  background-color: $color-black-soft
  margin-right: .25em
  &--red
    background-color: $color-red
  &--green
    background-color: $color-green

// -------------

.ui-border-bottom
  border-bottom: 1px solid $color-gray-light

// -------------

.ui-rounded-image
  border-radius: 2px

.ui-rounded-box
  border-radius: 2px

// -------------

.ui-post-hover
  .post__title
    transition: color $duration-quick-transitions ease-in-out
  &:hover
    .post__title
      color: $color-black--hover

// -------------

.ui-ticker__wrapper
  height: 1em

.ui-ticker
  position: relative
  overflow: hidden
  height: 100%
  .ui-ticker__inner
    position: absolute
    top: 0
    left: 0
    white-space: nowrap
    animation: ticker 30s linear infinite
    animation-play-state: running
    &:hover
      animation-play-state: paused
    @keyframes ticker
      0%
        transform: translateX(10%)
      100%
        transform: translateX(-90%)
