{
  "comment": "Copy this file to cypress.env.json and customize for local testing",
  "baseUrl": "https://novaramedia.com",
  "examples": {
    "testAgainstStaging": "https://staging.novaramedia.com",
    "testAgainstLocal": "http://localhost:8080"
  }
}
