.category-archive__logo
  width: 220px

.category-archive__submenu
  display: inline-block
  li
    display: inline-block
    &:before
      content: '| '

.section-archive__submenu
  display: inline-block
  li
    display: inline-block
    margin-right: .5rem
    &:after
      content: ' | '
    &:last-child:after
      content: none
