// EMAIL SIGNUP SECTION

.email-signup
  label
    a
      text-decoration: underline
      &:hover
        text-decoration: none

.email-signup__completion-section
  display: flex
  justify-content: space-between
  align-items: center

.email-signup__feedback-processing
  padding: .4rem .8rem

.email-signup__form
  .email-signup__feedback-processing, .email-signup__feedback-failed, .email-signup__feedback-completed
    display: none
  &--processing
    .email-signup__feedback-processing
      display: inline-flex
    .email-signup__submit
      display: none
  &--failed
    .email-signup__feedback-failed
      display: flex
    .email-signup__submit
      display: none
  &--completed
    .email-signup__feedback-completed
      display: inline-flex
    .email-signup__submit
      display: none
