.front-page-novara-live__posts-scroller
  height: 400px
  .ux-scroller__fade-top, .ux-scroller__fade-bottom
    height: 60px

.front-page__audio-product
  height: 100%

.front-page__audio-product-logo
  svg
    height: auto
    width: auto
    max-width: 250px
    max-height: 100px
    margin: 0 auto
    display: block

.front-page__audio-product--novarafm
  svg
    path
      fill: var(--color-black-soft) !important
