.novara-fm-archive__header
  display: flex
  justify-content: center
  align-items: center
  svg
    width: 60%
    max-width: 600px

.novara-fm-archive__cross
  max-width: 100%
  height: auto

.novara-fm-archive__cross--black
  path
    fill: $color-black-soft

.novara-fm-archive__cross--green
  path
    fill: $color-green
