#single-resources-section
  display: none

#single-article-support-box
  border: 1px solid var(--color-red)
  padding: 1rem

// Liveblog

.text-copy
  .liveblog-update-heading
    border-top: 1px solid var(--color-black-soft)
    padding-top: 2rem
    margin-top: 3rem
    margin-bottom: 1rem
    &:first-of-type
      margin-top: 2rem
