.support-page__heading
  line-height: 0.85;
  white-space: nowrap; /* corrected from wrap: no-wrap */

.support-page__-donation-form-sticky
  position: sticky;
  top: 100px;
  z-index: 1;


@media screen and (max-width: $breakpoint-xl)
  .support-page__heading
    font-size: 6.7rem;

@media screen and (max-width: $breakpoint-l)
  .support-page__heading
    font-size: 6rem;

@media screen and (max-width: $breakpoint-m)
   .support-page__heading
    font-size: 5.4rem;

@media screen and (max-width: $breakpoint-s)
   .support-page__heading
    font-size: 3.3rem;
