// SUPPORT SECTION

.support-form
  display: block
  .support-form__inputs
    opacity: 0
    transition: opacity var(--transition-speed-medium)
  &--active
    .support-form__inputs
      opacity: 1

.support-form__box-radius
  border-radius: 4px

.support-form__schedule-option-right
  border-radius:  0px 4px 4px 0px;

.support-form__schedule-option-left
  border-radius:  4px 0px 0px 4px;

.support-form__button-wide
  width: 100%

.support-form__button,
.support-form__custom-input
  color: var(--color-white-soft);
  background-color: var(--color-red);
  text-align: center;
  transition: opacity var(--transition-speed-ultra);
  &:not(&--active):hover:not(:focus)
    opacity: 0.5;
  &--active
    color: var(--color-black-soft);
    background-color: var(--color-white-soft);
    border-color: var(--color-white-soft);
  &:focus
    color: var(--color-black-soft);
    background-color: var(--color-white-soft);
    border-color: var(--color-white-soft);
    outline: none;

.support-form__schedule-mobile .support-form__button,
.support-form__tab-schedule-buttons .support-form__button
  color: var(--color-black-soft);
  background-color: var(--color-white-soft);
  &--active
    color: var(--color-white-soft);
    background-color: var(--color-red);

.support-form__custom-input::placeholder
  padding-left: 5px

.support-form__custom-input
  &::placeholder
    color: var(--color-white-soft)
  &:hover, &.support-form__button--active
    &::placeholder
      color: var(--color-white-soft)

.support-form__payment-type
  vertical-align: bottom
  height: 3vh;
  border-radius: 4px;

.support-form__text-mobile,
.support-form__schedule-mobile,
.support-form__payment-type-mobile,
.support-form__buttons-mobile
  display: none;

.support-form__left-column-desktop, .support-form__right-column-desktop
  padding: 0 !important;

.support-form__tab-schedule-buttons button
  border: none !important;
  border-radius: 4px 4px 0 0;

.support-form__schedule-desktop,
.support-form__payment-type-desktop,
.support-form__left-column-desktop
  display: flex;

.support-form__text-desktop,
.support-form__buttons-desktop
  display: block;

.support-form__left-column-desktop
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

.support-form-condensed
  width: 50%;

.support-form__payment-type-condensed
  display: flex;
  flex-direction: row;
  justify-content: center;

@media (max-width: $breakpoint-s)
  .support-form__schedule-mobile,
  .support-form__payment-type-mobile
    display: flex;
    flex-direction: row;
    justify-content: center;

  .support-form-condensed
    width: auto;

  .support-form__text-mobile,
  .support-form__buttons-mobile
    display: block;

  .support-form__text-desktop,
  .support-form__schedule-desktop,
  .support-form__payment-type-desktop,
  .support-form__buttons-desktop
    display: none;
