.wp-block-nm-wp-newsletter-signup
  // mostly this is about the conflicts with .text-copy on the parent in the article.
  // actually we want to fix that and likely we will not need any specific styles for this block
  h3, p
    margin-top: 0
    margin-bottom: .5rem
