.component-quote
  margin-top: 1rem

.component-quote__image-holder
  position: absolute
  bottom: 0
  right: 2rem
  z-index: -10
  width: 50%
  max-height: 100%
  overflow: hidden

@media screen and (max-width: $breakpoint-s)
  .component-quote
    margin-bottom: 2rem
