@import '~kouto-swiss/index.styl'
@import "helpers"
@import "grid-functions"
@import "grid-function-new"

// ******************************************************

// FONTS

// ******************************************************

// ICONS FONTS

// ** https://genericons.com WP icon font set
// @import "fonts/icons/genericons"

// ** minimal version of Google Materialize UI icons. check the styl for usage
@import "fonts/icons/materialize-min"

// ** full set of Google Materialize. https://design.google.com/icons/
// @import "fonts/icons/materialize"

// ******************************************************

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// GRID

$cols = 24
$col = 42px
$gutter = 16px

flex-grid-maker(false, $gutter, 'xxl')
grid-maker(false, 32px, 'xxl')

.container
  margin: 0 auto
  width: 1400px

.row
  clearfix()

.col
  float: left
  margin-left: ($gutter/2)
  margin-right: ($gutter/2)
  min-height: 1px

for col in 1..$cols
  .col{col}
    width: ( col * $col ) + ( ( col - 1 ) * $gutter )

    // FLUID COLS

.percent-col
  float: left
  box-sizing: border-box

$pcols = 10

for pcol in 1..$pcols
  .s-into-{pcol}
    width: ( 100% / pcol )

@media screen and (min-width: 601px)

  for pcol in 1..$pcols
    .m-into-{pcol}
      width: ( 100% / pcol )

@media screen and (min-width: 993px)

  for pcol in 1..$pcols
    .l-into-{pcol}
      width: ( 100% / pcol )

// ******************************************************

// VARIABLES

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-micro = ($gutter / (2 * $golden-ratio))
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 14px
$font-size-larger = 1.3rem
$font-size-smaller = .8rem
$font-size-h3 = golden-ratio(1rem , .7)
$font-size-h2 = golden-ratio(1rem , 1.1)
$font-size-h1 = golden-ratio(1rem , 2.1)

$font-leading-basic = 1.4
$font-leading-tighter = 1.15
$font-leading-larger = 1.55

$font-tracking-basic = 0
$font-tracking-medium = 0.0075rem
$font-tracking-wider = 0.025em

$color-black-soft = rgb(14, 14, 14)
$color-white-soft = rgb(253, 253, 253)
$color-white-soft-transparent = rgba(253, 253, 253, .5)

$color-black--hover = rgb(61, 61, 61)

$color-gray = rgb(150,150,150)
$color-gray-transparent = rgba(150,150,150, .5)
$color-gray-light = rgb(190,190,190) // Max suggesting #bab8b8 = rgb(186, 184, 184)
$color-gray-light-transparent = rgba(190,190,190, .5)
$color-gray-extra-light = #EDEAEA

$color-red = rgb(220, 0, 5) // Mine
$color-red-dark = #A80003

$color-yellow = #EBB800

$color-green = #5FCC00
$color-green-neon = #CADB2A
$color-green-racing = #55846B

$color-blue = rgb(84, 144, 235)
$color-blue-neon = #0018F0
$color-blue-light = #CAE5FF

$color-teal = #E3FFFF

$color-lilac = #B1B1FF

$border-width = 2px

$basic-animation-speed = .5s

$duration-medium-transitions = 420ms
$duration-quick-transitions = $duration-medium-transitions * .333
$duration-form-transitions = $duration-medium-transitions

$font-serif = font-stack('Georgia')
$font-sans = font-stack('Helvetica Neue')

$breakpoint-s = 759px
$breakpoint-m = 910px
$breakpoint-l = 1104px

html
  --color-green: $color-green

// ******************************************************

// TYPOGRAPHY

// now imported as modules/typography.styl

  // COLOR RULES

.font-color-white
  color: $color-white-soft
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.font-color-black
  color: $color-black-soft

.font-color-blue-neon
  color: $color-blue-neon

.font-color-green-racing
  color: $color-green-racing

  // SHADOWS

.text-shadow-white
  text-shadow: 0 0 20px $color-white-soft-transparent

.text-shadow-light-gray
  text-shadow: 0 0 20px $color-gray-light-transparent

.text-shadow-gray
  text-shadow: 0 0 20px $color-gray-transparent

  // TEXT RULES

.text-overflow-ellipsis
  overflow: ellipsis

.text-align-left
  text-align: left

.text-align-right
  text-align: right

.text-align-center
  text-align: center

.text-links-underlined
  a
    text-decoration: underline
    &:hover
      text-decoration: none

article
  ul, ol
    margin-top: 2rem
    margin-bottom: 2rem
  ul
    li
      list-style: disc inside
  ol
    li
      list-style: decimal inside

.text-copy
  p
    font-family: $font-serif
    font-size: $font-size-larger
    line-height: $font-leading-larger
  ul, ol
    font-size: $font-size-larger
    line-height: $font-leading-larger

.text-copy, .page-copy
  .twitter-tweet, .instagram-media, .oembed-element
    margin: 2rem auto !important
  blockquote
    font-family: $font-sans
    margin: 2rem
    p
      font-family: $font-sans
  h1,h2,h3,h4,h5,h6
    margin-top: 1.5rem
    margin-bottom: 1.5rem
  a
    color: $color-blue
  img, figure, .wp-caption
    max-width: 100% !important
    display: block
    margin: 2rem auto
  .wp-caption
    &.alignnone
      text-align: center
    img
      margin: 0 auto
    .wp-caption-text
      text-align: left
      font-family: $font-sans
      font-size: $font-size-smaller
      margin-top: $margin-tiny

.wp-video + .wp-caption
  margin-top: -1rem

.text-copy-max-width
  max-width: ( 18 * $col ) + ( 17  * $gutter )
  margin: 0 auto

// LISTS

.list--links
  li
    list-style: none
    margin-bottom: .5rem
    &:last-child
      margin-bottom: 0
  a
    text-decoration: underline
    text-underline-offset: 2px
    text-decoration-color: $color-red
    transition: text-decoration-color $duration-form-transitions
    &:hover
      text-decoration-color: transparent

  // LINKS

a
  color: inherit
  text-decoration: none

// ******************************************************

// BACKGROUNDS

.background-black
  background-color: $color-black-soft

.background-white
  background-color: $color-white-soft

.background-gray
  background-color: $color-gray

.background-light-gray
  background-color: $color-gray-light

.background-red
  background-color: $color-red

.background-yellow
  background-color: $color-yellow

.background-green
  background-color: $color-green

.background-green-neon
  background-color: $color-green-neon

.background-light-blue
  background-color: $color-blue-light

.background-neon-blue
  background-color: $color-blue-neon

.background-teal
  background-color: $color-teal

.background-lilac
  background-color: $color-lilac

.background-light-purple
  background-color: $color-lilac

.background-cover-image
  position: relative
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.background-cover-overlay
  position: absolute
  top: 0
  width: 100%
  height: 100%

.background-support-texture, .background-support-texture-alt
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  background-blend-mode: overlay, normal

.avif, .webp
  .background-support-texture
    background-image: linear-gradient(0deg, rgba(255, 25, 65, 0) 20.45%, #FF1941 100%), url(img/specials/support-2023-texture.webp)

  .background-support-texture-alt
    background-image: linear-gradient(0deg, #FF1941 -3.61%, rgba(255, 25, 65, 0) 99.91%), url(img/specials/support-2023-texture-alt.webp)

.fallback
  .background-support-texture
    background-image: linear-gradient(0deg, rgba(255, 25, 65, 0) 20.45%, #FF1941 100%), url(img/specials/support-2023-texture.png)

  .background-support-texture-alt
    background-image: linear-gradient(0deg, #FF1941 -3.61%, rgba(255, 25, 65, 0) 99.91%), url(img/specials/support-2023-texture-alt.png)

// ******************************************************

// UI ELEMENTS / UX HELPERS

.ui-chevron
  display: inline-block
  border-right: 2px solid
  border-bottom: 2px solid
  height: 1rem
  width: 1rem
  &&--up
    transform: rotate(225deg)
    margin-bottom: -0.4rem;
  &&--down
    transform: rotate(45deg)

.ui-hit-area
  padding: 2rem
  cursor: pointer
  &--small
    padding: 1rem
  &--top-right
    padding-top: 0
    padding-right: 0
  &--bottom-right
    padding-bottom: 0
    padding-right: 0

.ux-pointer
  cursor: pointer

.icon-large:before // is this depreciated? check
  font-size: $font-size-h3

.button // is this depreciated? check
  display: inline-block
  width: 100%
  padding: $margin-small
  text-align: center
  border: 2px solid $color-black-soft
  &.button-small
    padding: $margin-tiny

// ******************************************************

// COMPONENTS

// QUOTE

.component-quote
  margin-top: $margin-small

.component-quote__image-holder
  position: absolute
  bottom: 0
  right: 2rem
  z-index: -10
  width: 50%
  max-height: 100%
  overflow: hidden

// ******************************************************

// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto

.inline-action-list
  margin: 0
  li
    display: inline-block
    margin-right: $margin-small

.only-mobile
  display: none

// ******************************************************

// MARGINS AND PADDING

  // MARGIN

.margin-micro
  margin: $margin-micro

.margin-tiny
  margin: $margin-tiny

.margin-small
  margin: $margin-small

.margin-basic
  margin: $margin-basic

.margin-mid
  margin: $margin-mid

.margin-large
  margin: $margin-large

  // MARGIN TOP

.margin-top-micro
  margin-top: $margin-micro

.margin-top-tiny
  margin-top: $margin-tiny

.margin-top-small
  margin-top: $margin-small

.margin-top-basic
  margin-top: $margin-basic

.margin-top-mid
  margin-top: $margin-mid

.margin-top-large
  margin-top: $margin-large

  // MARGIN BOTTOM

.margin-bottom-micro
  margin-bottom: $margin-micro

.margin-bottom-tiny
  margin-bottom: $margin-tiny

.margin-bottom-small
  margin-bottom: $margin-small

.margin-bottom-basic
  margin-bottom: $margin-basic

.margin-bottom-mid
  margin-bottom: $margin-mid

.margin-bottom-large
  margin-bottom: $margin-large

  // PADDING

.padding-micro
  padding: $margin-micro

.padding-tiny
  padding: $margin-tiny

.padding-small
  padding: $margin-small

.padding-basic
  padding: $margin-basic

.padding-mid
  padding: $margin-mid

.padding-large
  padding: $margin-large

  // PADDING TOP

.padding-top-micro
  padding-top: $margin-micro

.padding-top-tiny
  padding-top: $margin-tiny

.padding-top-small
  padding-top: $margin-small

.padding-top-basic
  padding-top: $margin-basic

.padding-top-mid
  padding-top: $margin-mid

.padding-top-large
  padding-top: $margin-large

  // PADDING BOTTOM

.padding-bottom-micro
  padding-bottom: $margin-micro

.padding-bottom-tiny
  padding-bottom: $margin-tiny

.padding-bottom-small
  padding-bottom: $margin-small

.padding-bottom-basic
  padding-bottom: $margin-basic

.padding-bottom-mid
  padding-bottom: $margin-mid

.padding-bottom-large
  padding-bottom: $margin-large

// ******************************************************

// HEADER

$header-height = 46px

#header
  position: fixed
  width: 100%
  z-index: 1000

#main-content
  padding-top: $header-height
  min-height: 55vh

#header-main-wrapper
  height: $header-height
  overflow: hidden
  background-color: black

#header-main
  padding-top: 12px
  padding-bottom: 10px

#header-navs
  vertical-align: middle

.header-menu
  li
    padding-right: $margin-tiny

#menu-logomark
  svg
    height: 19px
    width: 23px

.header-main__logomark
  position: relative

.header-main__middle
  position: relative

#header-main__logotype
  transition: opacity $basic-animation-speed
  svg
    height: 16px
    width: 100%
    vertical-align: text-bottom

#header-main__page-title
  opacity: 0
  transition: opacity $basic-animation-speed
  position: absolute
  left: 0
  top: 0
  width: 100%

#header-sub
  display: none
  a
    font-size: 1.5rem
    line-height: 1.6
    padding-right: .66rem

// SEARCH

#header-search
  display: none

#search-form
  border: $border-width solid $color-white-soft

#search-input, #search-submit
  font-size: $font-size-h3
  border: 0
  &:focus
    outline: 0

#search-input
  float: left
  width: 70%
  background-color: transparent
  color: $color-white-soft

#search-submit
  width: 8%
  min-width: 25px
  float right

#tag-suggestions
  display: none

// ******************************************************

// 404

.error404
  #header-search
    display: block

// ******************************************************

// FORM ELEMENTS

nmButton()
  display: block
  padding: $margin-tiny $margin-small
  font-weight: bold
  text-align: center
  border-width: 1px
  border-style: solid
  border-color: transparent
  border-radius: 3px
  transition-property: background-color, color, border-color
  transition-duration: $duration-form-transitions
  &:hover
    border-color: $color-gray
    cursor: pointer
  &--red
    background-color: $color-red
    color: $color-white-soft
    &:hover
      background-color: $color-white-soft
      color: $color-red
      border-color: $color-red
  &--red-dark
    background-color: $color-red-dark
    color: $color-white-soft
    &:hover
      background-color: $color-white-soft
      color: $color-red-dark
      border-color: $color-red-dark
  &--white
    background-color: $color-white-soft
    color: $color-black-soft
    border-color: $color-black-soft
    &:hover
      background-color: $color-black-soft
      color: $color-white-soft
      border-color: $color-black-soft
  &--black
    background-color: $color-black-soft
    color: $color-white-soft
    border-color: $color-white-soft
    &:hover
      background-color: $color-white-soft
      color: $color-black-soft
  &--inline
    display: inline-block
  &--half
    width: 49%
  &--small
    padding: $margin-micro $margin-small

.nm-button
  nmButton()

// ******************************************************

// SUPPORT SECTION

.support-form
  display: block
  .support-form__inputs
    opacity: 0
    transition: opacity $basic-animation-speed
  &--active
    .support-form__inputs
      opacity: 1

.support-form__button, .support-form__custom-input
  nmButton()
  color: $color-red
  background-color: $color-white-soft
  &:hover, &--active
    color: $color-white-soft
    background-color: $color-red-dark
    border-color: $color-white-soft

.support-form__button, .support-form__custom-input, .support-form__submit
  width: 100%
  font-weight: normal
  border-color: $color-white-soft
  &:hover, &--active
    border-color: $color-white-soft

.support-form__custom-input::placeholder
  padding-left: 5px
  transition: color $duration-form-transitions

.support-form__custom-input
  &::placeholder
    color: $color-red
  &:hover, &.support-form__button--active
    &::placeholder
      color: $color-white-soft

// SUPPORT PAGE

.support-page__hero-wrapper
  padding: 70px 0

.support-page__content-copy
  font-family: $font-serif
  font-size: 18px
  line-height: $font-leading-larger
  h3
    font-family: $font-sans
    font-size: 31.5px
    line-height: 38.46px
    margin-bottom: 1rem

#other-donation-methods
  svg
    height: 2rem
    width: auto

// FUNDRAISER PROGRESS BAR

#progress-bar-row
  display: none

#progress-bar-holder
  position: relative
  height: 1.5em

#progress-bar
  position: absolute
  left: 0
  width: 0%
  transition: width 1s
  height: 1.5em
  background-color: $color-red

// ******************************************************

// EMAIL SIGNUP SECTION

.email-signup
  label
    a
      text-decoration: underline
      &:hover
        text-decoration: none

.email-signup__completion-section
  display: flex
  justify-content: space-between
  align-items: center

.email-signup__name-input, .email-signup__email-input
  width: 100%
  padding: 1.1rem 1.5rem
  font-size: $font-size-h3

.email-signup__email-gdpr-group
  display: flex
  align-items: center

.email-signup__email-gdpr-input
  width: 2rem
  height: 2rem
  margin: 0 1rem

.email-signup__submit
  padding: 1.1rem 1.5rem
  font-size: $font-size-h3

.email-signup__feedback-processing
  padding: 1.1rem 1.5rem
  font-size: $font-size-h3

.email-signup__form
  .email-signup__feedback-processing, .email-signup__feedback-failed, .email-signup__feedback-completed
    display: none
  &--processing
    .email-signup__feedback-processing
      display: block
    .email-signup__inputs
      display: none
  &--failed
    .email-signup__feedback-failed
      display: block
  &--completed
    .email-signup__feedback-completed
      display: block
    .email-signup__inputs
      display: none

// ******************************************************

// NEWSLETTER PAGE EMAIL SIGNUP

.newsletter-page-email-signup__form
  position: relative
  .email-signup__feedback-processing, .email-signup__feedback-failed, .email-signup__feedback-completed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.newsletter-page-email-signup__form.email-signup__form--processing, .newsletter-page-email-signup__form.email-signup__form--failed, .newsletter-page-email-signup__form.email-signup__form--completed
  background-color: $color-black-soft
  color: $color-white-soft
  .newsletter-page-email-signup__inputs
    opacity: 0

.newsletter-page-email-signup__inputs
  justify-content: flex-end

.newsletter-page-email-signup__name-input, .newsletter-page-email-signup__email-input, .newsletter-page-email-signup__submit
  width: 100%
  padding: 8px 16px
  font-size: $font-size-h3

.newsletter-page-email-signup__name-input, .newsletter-page-email-signup__email-input
  border-color: $color-black-soft
  border-width: 1px
  border-radius: 3px

.newsletter-page-email-signup__email-gdpr-group
  display: flex
  align-items: center
  justify-content: flex-end

.newsletter-page-email-signup__email-gdpr-input
  width: 2rem
  height: 2rem
  margin: 0 1rem

.email-signup__icon
  height: 3rem
  fill: $color-white-soft

// ******************************************************

// RADIO PLAYER

#radio-player
  display: none

.jp-controls-holder
  margin-right: $margin-tiny

.jp-block
  display: block
  height: $margin-basic
  width: 100%
  text-align: center
  border: 2px solid $color-white-soft

.jp-button
  text-align: center

.jp-stop
  display: none

.jp-volume-bar
  position: relative

.jp-button, .jp-volume-bar
  &:hover
    cursor: pointer

.jp-volume-bar-value
  background-color: white
  position:relative
  height: 100%

// ******************************************************

// SPINNER

.spinner
  width: 1em
  height: 1em
  margin: 0 auto
  position: relative

.double-bounce1, .double-bounce2
  width: 100%
  height: 100%
  border-radius: 50%
  background-color: $color-black-soft
  opacity: 0.6
  position: absolute
  top: 0
  left: 0
  animation: sk-bounce 2.0s infinite ease-in-out

.spinner--white
  .double-bounce1, .double-bounce2
    background-color: $color-white-soft

.double-bounce2
  animation-delay: -1.0s

@keyframes sk-bounce
  0%, 100%
    transform: scale(0.0)
  50%
    transform: scale(1.0)

// ******************************************************

// FRONT PAGE

// SIGNUPS

.front-page-signup
  display: flex
  align-items: flex-start

.front-page-signup__image
  width: 25%
  padding-right: 1.25rem
  max-width: 80px
  img
    display: block

.front-page-signup__text
  width: 73%
  p
    margin-bottom: 0

// ABOVE THE FOLD

.front-page-above-the-fold__column
  .col
    margin-left: 0
    margin-right: 0

// ******************************************************

// INDEXES

.post-col12-image
  position: relative

.post-col12-image-overlay
  position: absolute
  bottom: 0
  left: 0
  top: 0
  right: 0
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.5) 100%)

.post-col12-text
  position: absolute
  bottom: 0
  left: 0
  padding: $margin-small + $margin-tiny
  max-width: 550px
  h3
    font-size: $font-size-h2

// ******************************************************

// ARCHIVES

.category-archive__logo
  width: 220px

.category-archive__submenu
  display: inline-block
  li
    display: inline-block
    &:before
      content: '| '

// ******************************************************

// SECTIONS

.section-archive__submenu
  display: inline-block
  li
    display: inline-block
    margin-right: .5rem
    &:after
      content: ' | '
    &:last-child:after
      content: none

// ******************************************************

// PAGE: ABOUT

.about-page__person
  a:after
    content: '\219D'
    position: relative
    top: -.2em
    left: .2em

// ******************************************************

// SINGLE

#single-resources-section
  display: none

  // ARTICLE

#single-article-support-box
  border: 1px solid $color-red
  padding: 1rem

  // LIVEBLOG

.text-copy
  .liveblog-update-heading
    border-top: 1px solid $color-black-soft
    padding-top: $margin-basic
    margin-top: $margin-mid
    margin-bottom: $margin-small
    &:first-of-type
      margin-top: $margin-basic

// ******************************************************

// BOTTOM BAR

#bottom-bar
  position: fixed
  bottom: 0
  left 0
  width: 100%
  z-index: 100

// BAR SUPPORT

.support-bar
  opacity: 0
  transition: opacity $basic-animation-speed
  .support-bar__open-view
    align-items: center
  .flex-grid-row.is-one-even-line-grid
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    .flex-grid-item
      min-width: auto
  &--active
    opacity: 1
  &--open
    .support-bar__open-view
      display: flex
    .support-bar__closed-view
      display: none
  &--closed
    .support-bar__open-view
      display: none
    .support-bar__closed-view
      display: flex

.support-bar__open-actions-column
  align-self: stretch

.support-bar__open-actions-wrapper
  display: flex
  flex-direction: column
  height: 100%
  align-items: flex-end
  justify-content: space-between

// Privacy & cookie notice

#obligation-bar
  display: none
  background-color: $color-black-soft

  .flex-grid-row
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    .flex-grid-item
      min-width: auto

  p
    margin-bottom: 0

// ******************************************************

// MODULES

@import "modules/typography"
@import "modules/spacing"
@import "modules/layout"
@import "modules/ui"

// LAYOUTS

@import "layouts/header-submenu"
@import "layouts/products-bar"
@import "layouts/above-the-fold"
@import "layouts/front-page-product-blocks"

@import "layouts/novara-fm-archive"


// ******************************************************

// MEDIA QUERIES

@media screen and (max-width: ($col * $cols) + ($gutter * ($cols + 1)))
  grid-maker(false, 32px, 'xl')

  @import "responsive/xl"

@media screen and (max-width: $breakpoint-l)
  grid-maker(false, 32px, 'l')

  @import "responsive/l"

@media screen and (max-width: $breakpoint-m)
  grid-maker(false, 32px, 'm')

  @import "responsive/m"

@media screen and (max-width: $breakpoint-s)
  grid-maker(false, 32px, 's')

  @import "responsive/s"
