@import '../../node_modules/nm-stylus-library/index.styl';

// ******************************************************

@import '../../node_modules/swiper/swiper.css';

// ******************************************************

// FONTS

// ** https://genericons.com WP icon font set
// @import "fonts/icons/genericons"

// ** minimal version of Google Materialize UI icons. check the styl for usage
@import "fonts/icons/materialize-min"

// ** full set of Google Materialize. https://design.google.com/icons/
// @import "fonts/icons/materialize"

// ******************************************************

// COMPONENTS

@import "components/spinner"
@import "components/quote"

// ******************************************************

// LAYOUTS

@import "layouts/above-the-fold"
@import "layouts/archives"
@import "layouts/bottom-bar"
@import "layouts/email-signup"
@import "layouts/front-page-product-blocks"
@import "layouts/header-submenu"
@import "layouts/header"
@import "layouts/highlight-block"
@import "layouts/post-indexes"
@import "layouts/products-bar"
@import "layouts/single"
@import "layouts/support-form"

// ******************************************************

// PAGES

@import "pages/about"
@import "pages/novara-fm-archive"
@import "pages/support-page"

// ******************************************************

// GRID

grid-maker('xxl')

.container
  margin-left: auto
  margin-right: auto
  width: 1400px

// ******************************************************

// MEDIA QUERIES

@media screen and (max-width: $breakpoint-xl)
  .container
    width: 1056px

  grid-maker('xl')

  @import "responsive/xl"

@media screen and (max-width: $breakpoint-l)
  .container
    width: 888px

  grid-maker('l')

  @import "responsive/l"

@media screen and (max-width: $breakpoint-m)
  .container
    width: 744px

  grid-maker('m')

  @import "responsive/m"

@media screen and (max-width: $breakpoint-s)
  .container
    width: 98%
    max-width: 460px
    overflow: hidden

  grid-maker('s')

  @import "responsive/s"

// ******************************************************

// PROJECT OVERRIDES FOR LIBRARY

@import "upstream-to-library"
