html
  --color-gray-base: #f8f5f5;
  --corner-radius-large: 4px;

.background-gray-base
  background-color: var(--color-gray-base)

.background-gray-light-transparent
  background-color: var(--color-gray-light-transparent)

// ***** ???

.swiper-pagination-bullet
  display: inline-block
  width: 10px
  height: 2px
  background-color: var(--color-gray-light-transparent)
  margin: 0 4px
  transition: opacity 0.3s ease

.swiper-pagination-bullet-active
  background-color: var(--color-black-soft)
  opacity: 1

.swiper
  position: relative

.swiper-pagination
  position: absolute
  bottom: 1rem
  left: 0
  right: 0
  z-index: 10
  display: flex
  justify-content: center
  pointer-events: auto

// *****

.font-color-gray
  color: var(--color-gray)

.font-color-white-transparent
  color: var(--color-white-soft-transparent)

.font-color-pink
  color: var(--color-pink)

.font-style-boxed
  background: var(--color-black-soft)
  color: var(--color-white-soft)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  padding: 0.4375rem 0.8125rem 0.5625rem 0.8125rem
  line-height: 1em
  border-radius: var(--corner-radius)
  text-transform: uppercase
  display: inline-block
  &--white
    background: var(--color-white-soft)
    color: var(--color-black-soft)

// *****

.ui-button
  &--red
    &:hover
      color: var(--color-red) // this is correct, but it needs some pair option to have the red hover into white state

.ui-button--slimline
  height: auto
  font-size: 0.875rem
  line-height: 1em
  padding: 0.3rem 0.75rem 0.4375rem 0.75rem

// *****

.ui-rounded-box-large, .ui-rounded-image-large
  border-radius: var(--corner-radius-large)


.ui-rounded-box--top
  border-top-left-radius: var(--corner-radius)
  border-top-right-radius: var(--corner-radius)

.ui-rounded-box--bottom
  border-bottom-left-radius: var(--corner-radius)
  border-bottom-right-radius: var(--corner-radius)

//layout

// describe existing classes in the library also

.layout-flex-justify-right
  display: flex
  justify-content: flex-end
