// GRID

$col = 25px

// ******************************************************

// TYPOGRAPHY

html
  font-size: 15px

.text-copy
  .wp-caption
    .wp-caption-text
      margin-top: 0.5rem

// ******************************************************

// UI ELEMENTS

.button
  padding: 1rem

// ******************************************************

// BASIC

.inline-action-list
  li
    margin-right: 1rem

// ******************************************************

// SUPPORT SECTION

.support-form-holder
  min-height: 5rem
  padding: 1rem

.support-form-slider
  width: 60%
  margin-right: 2%

.support-form-submit
  width: 20%
  margin-left: 2%
  padding: 0.5rem 1rem

// SIGNUPS

.front-page-signup__image
  display: none

.front-page-signup__text
  width: 100%
