// GRID

$col = 25px

// ******************************************************

// TYPOGRAPHY

html
  font-size: 15px

// ******************************************************

// SUPPORT FORM

.support-form-slider
  width: 60%

.support-form-submit
  width: 20%

// ******************************************************

// SIGNUPS

.front-page-signup__image
  display: none

.front-page-signup__text
  width: 100%
