// GRID

$col = 19px

// ******************************************************

// TYPOGRAPHY

html
  font-size: 14px

.text-copy
  p
    font-size: 1.3rem
    line-height: 1.55
  a
    color: var(--color-blue)
  img
    display: block

// ******************************************************

// SUPPORT FORM

.support-form-slider
  width: 55%

.support-form-submit
  width: 23%

// ******************************************************

// SUPPORT PAGE

.support-page__hero-wrapper
  padding: 80px 0

// ******************************************************

// SINGLE - LIVEBLOG

.text-copy
  .liveblog-update-heading
    border-top: 1px solid var(--color-black-soft)
    padding-top: 2rem
    margin-top: 3rem
    margin-bottom: 1rem
    &:first-of-type
      margin-top: 2rem
