// TYPOGRAPHY

html
  font-size: 14px

// ******************************************************

// SUPPORT FORM

.support-form-slider
  width: 55%

.support-form-submit
  width: 23%

// ******************************************************

// SUPPORT PAGE

.support-page__hero-wrapper
  padding: 80px 0

