// GRID

$col = 19px
$gutter = 12px

.col
  margin-left: ($gutter/2)
  margin-right: ($gutter/2)

for col in 1..$cols
  .col{col}
    width: ( col * $col ) + ( ( col - 1 ) * $gutter )

flex-grid-maker('m')

// ******************************************************

// VARIABLES

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-micro = ($gutter / (2 * $golden-ratio))
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 13px
$font-size-larger = 1.3rem
$font-size-h3 = golden-ratio(1rem , .6)
$font-size-h2 = golden-ratio(1rem , .9)
$font-size-h1 = golden-ratio(1rem , 1.8)

$font-leading-basic = 1.4
$font-leading-tighter = 1.15
$font-leading-larger = 1.55

$font-tracking-basic = 0
$font-tracking-wider = 0.025em

$border-width = 2px

// ******************************************************

// TYPOGRAPHY

html
  font-size: $font-size-basic
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

  // HTML ELEMENT STYLING

h1, .font-size-h1
  font-size: $font-size-h1
  letter-spacing: -($font-tracking-basic)

h2, .font-size-h2
  font-size: $font-size-h2

h3
  font-size: $font-size-h3

  // NEW TYPE SCALE 2021

.font-size-m-0
  font-size: 12px

.font-size-m-1
  font-size: 14px
  line-height: 1.4

.font-size-m-2
  font-size: 21px
  line-height: 1.25

.font-size-m-3
  font-size: 32px
  line-height: 1.1875

.font-size-m-4
  font-size: 47px
  line-height: 1.14893617
  letter-spacing: -0.025em

.font-size-m-5
  font-size: 71px
  line-height: 1.05633803
  letter-spacing: -0.025em

.font-size-m-6
  font-size: 106px
  line-height: 0.8490566
  letter-spacing: -0.025em

.font-size-m-7
  font-size: 159px
  line-height: 0.84937238
  letter-spacing: -0.02em

.font-size-m-8
  font-size: 239px
  line-height: 0.84937238
  letter-spacing: -0.04em

  // FONT RULES

.font-small-caps
  font-size: 0.85em

.font-leading-wider
  line-height: $font-leading-larger

.font-tracking-wider
  letter-spacing: $font-tracking-wider

.font-smaller
  font-size: 0.8rem

.font-larger
  font-size: $font-size-larger

.text-copy
  p
    font-size: $font-size-larger
    line-height: $font-leading-larger
  blockquote
    margin: 3rem
  h1,h2,h3,h4,h5,h6
    margin-top: 1.5rem
    margin-bottom: 1.5rem
  a
    color: $color-blue
  img
    display: block
    margin: 2.5rem auto
  .wp-caption
    .wp-caption-text
      margin-top: $margin-tiny

// ******************************************************

// UI ELEMENTS

.icon-large:before
  font-size: $font-size-h3

.button
  padding: $margin-small

// ******************************************************

// BASIC

.inline-action-list
  li
    display: inline-block
    margin-right: $margin-small

// ******************************************************

// MARGINS AND PADDING

  // MARGIN

.margin-micro
  margin: $margin-micro

.margin-tiny
  margin: $margin-tiny

.margin-small
  margin: $margin-small

.margin-basic
  margin: $margin-basic

.margin-mid
  margin: $margin-mid

.margin-large
  margin: $margin-large

  // MARGIN TOP

.margin-top-micro
  margin-top: $margin-micro

.margin-top-tiny
  margin-top: $margin-tiny

.margin-top-small
  margin-top: $margin-small

.margin-top-basic
  margin-top: $margin-basic

.margin-top-mid
  margin-top: $margin-mid

.margin-top-large
  margin-top: $margin-large

  // MARGIN BOTTOM

.margin-bottom-micro
  margin-bottom: $margin-micro

.margin-bottom-tiny
  margin-bottom: $margin-tiny

.margin-bottom-small
  margin-bottom: $margin-small

.margin-bottom-basic
  margin-bottom: $margin-basic

.margin-bottom-mid
  margin-bottom: $margin-mid

.margin-bottom-large
  margin-bottom: $margin-large

  // PADDING

.padding-micro
  padding: $margin-micro

.padding-tiny
  padding: $margin-tiny

.padding-small
  padding: $margin-small

.padding-basic
  padding: $margin-basic

.padding-mid
  padding: $margin-mid

.padding-large
  padding: $margin-large

  // PADDING TOP

.padding-top-micro
  padding-top: $margin-micro

.padding-top-tiny
  padding-top: $margin-tiny

.padding-top-small
  padding-top: $margin-small

.padding-top-basic
  padding-top: $margin-basic

.padding-top-mid
  padding-top: $margin-mid

.padding-top-large
  padding-top: $margin-large

  // PADDING BOTTOM

.padding-bottom-micro
  padding-bottom: $margin-micro

.padding-bottom-tiny
  padding-bottom: $margin-tiny

.padding-bottom-small
  padding-bottom: $margin-small

.padding-bottom-basic
  padding-bottom: $margin-basic

.padding-bottom-mid
  padding-bottom: $margin-mid

.padding-bottom-large
  padding-bottom: $margin-large

// ******************************************************

// SUPPORT SECTION

.support-form-holder
  min-height: 5rem
  padding: $margin-small

.support-form-slider
  width: 55%
  margin-right: 2%

.support-form-submit
  width: 23%
  margin-left: 2%
  padding: $margin-tiny $margin-small

// SUPPORT PAGE

.support-page__hero-wrapper
  padding: 80px 0

// ******************************************************

// FRONT PAGE

#featured-post-title-holder
  padding: $margin-large
  font-size: golden-ratio(1rem , 2.5)

// SIGNUPS

#front-page-signups
  display: none

// ******************************************************

// INDEXES

.post-col12-text
  padding: $margin-small
  h3
    font-size: $font-size-larger

// ******************************************************

// SINGLE

  // LIVEBLOG

.text-copy
  .liveblog-update-heading
    border-top: 1px solid $color-black-soft
    padding-top: $margin-basic
    margin-top: $margin-mid
    margin-bottom: $margin-small
    &:first-of-type
      margin-top: $margin-basic
