// GRID

// ******************************************************

// TYPOGRAPHY

html
  font-size: 14px

// ******************************************************

// BASIC

.only-mobile
  display: initial

.display-s-block
  display: block

.only-desktop
  display: none

// ******************************************************

// INDEXES

#posts
  .row
    margin-bottom: 0
  .col
    margin-bottom: 1rem

.post-col12-image
  position: relative

// ******************************************************

// SUPPORT PAGE

.support-page__hero-wrapper
  padding: 3rem 0

// ******************************************************

// SUPPORT BAR

.support-bar__open-actions-wrapper
  .ui-hit-area
    padding: 0 0 .5rem 2rem

// ******************************************************

// GDPR

#obligation-bar
  .grid-row
    flex-wrap: wrap
    .grid-item:first-child
      margin-bottom: .5rem
